html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url(./assets/bg.webp);
  background-repeat: repeat;
  background-size: 8em;
}
.slider__container {
  margin: auto;
  width: 85vw;
  height: 80vh;
  background: rgb(5, 5, 40);
  border-radius: 3%;
  border: 1vmax deeppink solid;
  display: flex;
  justify-content: space-around;

  flex-direction: column;
  align-items: center;
  padding: 2vmax;
}
.memes__container {
  height: 60vh;
  width: 81vw;
  background-color: #feddee;
  border-radius: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meme__image {
  max-height: 60vh;
  max-width: 80vw;
  height: 0;
  width: 0;
  opacity: 0;
  transition: all 1s ease-in-out;

}

.bottom__container {
  width: 80vw;
  height: 16vh;
  display: flex;
  justify-content: space-between;
}
.meme__description{
  opacity: 0;
  font-size: 0;
  color:deeppink;
  transition: all 1s ease-in-out;

}

.buttons__container{
  display: flex;
  align-items: center;
}
input{
  display: none;
}
label{
  padding: .3em;
  cursor: pointer;
}
.btn__content{
  display: inline-block;
  width: .7em;
  height: .7em;
  border: .2em deeppink solid ;
  border-radius: 50%;
  transition: ease-in-out .4s all;
}
label:hover>.btn__content{
  border-color: deepskyblue;
}
label:active>.btn__content{
  background-color: rgba(255, 20, 145, 0.342);
}
/* перелистывание слайдов */

.btn_1:checked ~ .memes__container>.meme__image_1, 
.btn_1:checked ~ .bottom__container>.description__container>.meme__description_1{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_1:checked ~ .bottom__container>.buttons__container>label>.btn__content_1{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_2:checked ~ .memes__container>.meme__image_2, 
.btn_2:checked ~ .bottom__container>.description__container>.meme__description_2{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_2:checked ~ .bottom__container>.buttons__container>label>.btn__content_2{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_3:checked ~ .memes__container>.meme__image_3, 
.btn_3:checked ~ .bottom__container>.description__container>.meme__description_3{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_3:checked ~ .bottom__container>.buttons__container>label>.btn__content_3{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_4:checked ~ .memes__container>.meme__image_4, 
.btn_4:checked ~ .bottom__container>.description__container>.meme__description_4{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_4:checked ~ .bottom__container>.buttons__container>label>.btn__content_4{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_5:checked ~ .memes__container>.meme__image_5, 
.btn_5:checked ~ .bottom__container>.description__container>.meme__description_5{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_5:checked ~ .bottom__container>.buttons__container>label>.btn__content_5{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_6:checked ~ .memes__container>.meme__image_6, 
.btn_6:checked ~ .bottom__container>.description__container>.meme__description_6{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_6:checked ~ .bottom__container>.buttons__container>label>.btn__content_6{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_7:checked ~ .memes__container>.meme__image_7, 
.btn_7:checked ~ .bottom__container>.description__container>.meme__description_7{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_7:checked ~ .bottom__container>.buttons__container>label>.btn__content_7{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_8:checked ~ .memes__container>.meme__image_8, 
.btn_8:checked ~ .bottom__container>.description__container>.meme__description_8{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_8:checked ~ .bottom__container>.buttons__container>label>.btn__content_8{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_9:checked ~ .memes__container>.meme__image_9, 
.btn_9:checked ~ .bottom__container>.description__container>.meme__description_9{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_9:checked ~ .bottom__container>.buttons__container>label>.btn__content_9{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_10:checked ~ .memes__container>.meme__image_10, 
.btn_10:checked ~ .bottom__container>.description__container>.meme__description_10{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_10:checked ~ .bottom__container>.buttons__container>label>.btn__content_10{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_11:checked ~ .memes__container>.meme__image_11, 
.btn_11:checked ~ .bottom__container>.description__container>.meme__description_11{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_11:checked ~ .bottom__container>.buttons__container>label>.btn__content_11{
  background-color: deeppink;
  border-color: deeppink;
}

.btn_12:checked ~ .memes__container>.meme__image_12,
.btn_12:checked ~ .bottom__container>.description__container>.meme__description_12{
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 4vmin;
  transition: all 1s ease-in-out;
}
.btn_12:checked ~ .bottom__container>.buttons__container>label>.btn__content_12{
  background-color: deeppink;
  border-color: deeppink;
}

/* медиа */

@media screen and (max-width: 800px) {
  .bottom__container{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 15vh;
  }
  .description__container{
    align-self: start;
    height: 5vh;
  }
}
@media (hover: none){
  label:hover>.btn__content{
    border-color: deeppink;
  }
}